<div class="container">
  <h1>Users</h1>
  <form action="/users">
    <input type="search" name="query" placeholder="search">
    <input type="submit" value="Search">
  </form>
  <ul>
    <% @users.each do |user| %>
      <li><a href="users/<%= user.id %>/posts"><%= user.username %></a></li>
    <% end %>
  </ul>
</div>
