<div class="container">

  <section class="sidebar">
    <% if @friendship %>
      <ul>
        <% @friendship.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>

    <form id="friend_request" action="/users/<%= @user.id %>/friendships" method="post">
      <input type="submit" value="invite friend">
    </form>
  </section>

  <main class="friend">
    <div class="sign-text-wrap">
      <div class="sign-text">

        <% if @friends %>
          <span><%= @friends %></span>
        <% end %>

      </div>
    </div>
  </main>
</div>
